/* Print Version */

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(32, 32, 32, 0.842);
    background-color: rgb(255, 255, 255);
    background-image: none;

}

p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.print{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background-color: rgb(148 148 148 / 1%);
    text-transform: uppercase;
}

.site{
    display: none;
}

.container {
    background-color: white;
}

.navBar-container {
    display: none;
}

.header__img {
    order: 1;
}

.header__contact-container{
    display: block;
    padding: 5px;
}

.header__contact-label{
    line-height: 1.5rem;
}

.header-container {
    min-height: auto;
}

.header__name {
    display: none;
}

.header__subtitle{
    margin: 0.5rem 0;
}

.header__img {
    max-width: 19%;
    margin: 5px 25px;
}

.header__title{
    font-size: 1.7rem;
}

.header-skills__container {
    background-color: none;
}

.header-skill{
    padding: 1rem;
    font-size: 1rem;
}

.header-skills__img {
    max-width: 45px;
}

.header-situation__label {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 100;
}

.header-situation__label{
    display: none;
}

.carrer-container {
    background-color: white;
    border-top: rgba(240, 248, 255, 0.527) dotted 3px;
    margin: 20px 0;
    padding: 0;
}

.section-container {
    max-width: 46%;
}

.title {
    font-size: 1.7rem;
    font-style: oblique;
    font-weight: lighter;
    margin: 15px 0 15px;
}

.formation-container {
    border-right: inset;
}