html{scroll-behavior:smooth}

body{
    font-family: 'Roboto Condensed', sans-serif;
    /* color: rgba(32, 32, 32, 0.842); */
    color: #2E4A62;
    background-image: url("https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg");
    background-attachment: fixed;
}

strong{
    font-weight: bold;
}


.footer-social-network__container{
    display: none
}

.social-network__container{
    background-color: #b7b7b7;
    border-radius: 0 5% 5% 0;
    position: fixed;
    left: 0;
    top: 50%;
}


.header__contact-container{
    display: none;
}

p{
    color: rgb(79, 79, 79);
    line-height: 2rem;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.082);
}

.print{
    display: none;
}

.site{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    background-color: rgb(148 148 148 / 1%);
    text-transform: uppercase;
}


.one-formation__name{
    font-size: 1.1rem;
    border-left: #1818181f solid 1px;
    padding-left: 5px;
}

.one-formation__description{
    font-size: 1.1rem;
    font-style: oblique;
    color: rgba(32, 32, 32, 0.842);
    
}
.header-situation__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.header-situation__label{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
}

.container {
    
    position: relative;
    max-width: 1150px;
    margin: auto;
    box-shadow: 0px 0px 6px 4px rgba(25, 25, 25, 0);
    background-color: #fffffff1;

}

.navBar-container{
    z-index: 1;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(252, 252, 252);
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.navBar-button{
    font-size: 1.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #484848;
    color: rgb(252, 252, 252);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border: solid 1px #18181807;
}

.navBar-button:hover{
    transition-duration: 0.3s;
    background-color: rgba(236, 236, 236, 0.938);
    color: #181818;
    animation: pulse;
    animation-duration: 0.7s;
}

.header__title-container{
    display: flex;
    flex-direction: column;
}

.header__img {
    max-width: 30%;
    border:double 4px #b3b3b39d;
    border-radius: 50%;
    margin: 25px;
    box-shadow: 0px 0px 6px 4px rgba(25,25,25,0.15);
}

.header__img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* .header-skills__container { */
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* background-color: rgb(148 148 148 / 1%); */
    /* text-transform: uppercase; */
/* } */

.header__name {
    font-size: 1.3rem;
    margin: 2rem 2rem 0;
}

.header-skill{
    padding: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-skill:hover, .social-network__img-container:hover{
    animation: pulse;
    color: rgba(23, 20, 43, 0.788);
    animation-duration: 0.5s;
    transition-duration:1s
}

.header-skills__img{
    width: 100%;
    max-width: 90px;
}

.header-container{
    padding: 5px 3px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__title{
    font-weight: bold;
    font-size: 2.5rem;
    margin:2rem 0 0 2rem;
}

.header__subtitle{
    font-weight: lighter;
    font-style: italic;
    font-size: 1.3rem;
    margin: 0.5rem;
}

.carrer-container{
    padding: 20px 3px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcdcdc;
    justify-content: space-evenly;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 2rem;
    font-style: oblique;
    font-weight: lighter;
    margin: 35px 0;
}

.section-container{
    max-width: 350px;
}

.one-formation__name, .one-Experience__name {
    font-weight: bold;
}

.date{
    margin-left: 5px;
    font-size: 0.9rem;
    font-weight: lighter;
    font-style: italic;
}

.expericence-title-container{
    margin: 15px 0 5px;
    display: flex;
    align-items: center;
}

.skills-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.skills__container{
    margin: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: solid 3px rgba(228, 242, 255, 0.836);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: rgb(249, 249, 255);
    box-shadow: 5px 4px 11px -3px rgba(0,0,0,0.47);
    width: 100vw;
    
}

.skills__img-container{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-right: cornsilk solid 2px;
    font-weight: bold;
}

li {
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.062);
    list-style-position: inside;
    list-style-type: circle;
    line-height: 2rem;
    color: rgb(73, 73, 73);
}

.dev-title{
text-align: center;
}


.dev-container{
    padding: 5px;
}

.footer{
    height: 10rem;
    min-height: 3rem;
    padding: 10px;
    background-color: #484848;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;;
    align-items: center; */
}

.footer__contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__legal-mentions{
    font-size: 0.9rem;
    color: slategray;
    margin: auto;
    bottom:10px;
    right: 10px;

    position: absolute;
}

.footer__print-button, .footer_mail-button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 0.5rem;
    border: solid 1px #18181807;
    transition-duration: 0.3s;
}

.footer__print-button:hover, .footer_mail-button:hover{
    transition-duration: 0.3s;
    background-color: rgba(236, 236, 236, 0.938);
    color: #181818;
    animation: pulse;
    animation-duration: 0.7s;
}
@media (max-width: 840px){
    .skills__container{
        display: block;
    }
    .skills__img-container{
        margin: auto;
    }
    .footer-social-network__container{
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 1200px){
    body{
        background-image: none;
    }

    .social-network__container{
        display: none;
    }
    .footer-social-network__container{
        margin-top: 1.3rem;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 375px){
    .navBar-button{
        font-size: 0.9rem;
    }
}

.skills__container--print{
    display: none;
}